article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

$color-dark-green: #073b3a;
$color-med-green: #26413c;
$color-main-green: #439478;
$color-warning: #DDB771;
$color-accent: #26413c;

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
    letter-spacing: 0.15em;
    text-align: center;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
    letter-spacing: 0.15em;
}

.container {
	width: 80%;
	margin: 0 auto;
}
.highlight-link {
	text-decoration: none;
	color: $color-accent;
}

//header

header {
	height: 100vh;
	background: url(../../public/images/cover-photo.jpeg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	.overlay {
		height: 100vh;
		background-color: rgba(0,0,0,0.45);
	}


	.navbar {
		width: 100%;
		position: fixed;
		list-style-type: none;
		padding: 14px;
		top: 44px;
		float: right;
		background-color: rgba(0,0,0,0.7);
		color: white;
		z-index: 100;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
			padding-left: 25px;
			text-transform: uppercase;
			font-family: 'Myriad Pro', sans-serif;
			font-size: 14px;
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
	.lower-nav {
		background-color: #439478;
    	color: white;
    	position: fixed;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    z-index: 100;
		ul{
			margin: 0;
			list-style-type: none;
			display: inline-block;
			li {
				display: inline-block;
				padding: 10px 30px 10px 0px;
				font-size: 20px;
				text-transform: inherit;
			}
		}
	}
	.main-nav {
		width: 80%;
		float: left;
	}
	.contact-button {
		float: right;
		width: 20%;
		text-transform: uppercase;
		text-align: center;
		li {
			list-style-type: none;
			margin: 0 auto;
			a {
				text-decoration: none;
				color: #FFF;
				padding: 10px 30px;
				background-color: $color-main-green;
				border-radius: 30px;

			}
		}
	}
	.contact-button a:hover {
		background-color: #74E8B0;
	}

}
.middle {
	position: absolute;
	font-family: "Montserrat", sans-serif;
	transform: translate(40%,-50%);
	top: 50%;	
	font-size: 50px;
	text-transform: uppercase;
	color: white;
	p {
		margin:0;
	}
	.flex {
		display: flex;
		justify-content: center;
	}
	.logo-image {
		height: 150px;
	}
	.new-toronto {
		font-size: 68px;
		text-align: center;
		font-weight: 200;
		margin: auto;
		text-align: left;
		letter-spacing: 0.1em;
	}
	.toronto {
		font-weight: 600;
	}
	.button1 {
		font-size: 14px;
	    text-transform: uppercase;
	    font-family: 'Montserrat', sans-serif;
	 	text-decoration: none;
	    padding: 15px 30px;
	    background-color: $color-main-green;
	    border: 2px solid $color-main-green;
	    color: white;
	}
	.button-container {
	    margin-top: 20px;
	    text-align: center;
	    display: flex;
	    justify-content: center;
	}
	.button2 {
		font-size: 14px;
	    text-transform: uppercase;
	    font-family: 'Montserrat', sans-serif;
	 	text-decoration: none;
	    padding: 15px 30px;
	    background-color: transparent;
	    color: $color-main-green;
	    border: 2px solid $color-main-green;
	    margin-left: 20px;
	    i {
	    	margin-left: 10px;
	    	font-size: 16px;
	    	font-weight: bold;
	    }
	}
}

//about
#about {
	margin-top: 100px;
	.about-section-1, .about-section-2 {
		margin-top: 80px;
		display: flex;
		flex-direction: row;
		justify-content: space between;
		img {
			height: 200px;
			width: 40%;
			box-shadow: 5px 5px 10px #ccc;
		}
	}
	.about-section-1 .about-text {
		padding-left: 20px;
	}
	.about-section-2 .about-text {
		padding-right: 20px;
	}
}

#mission {
	background: url(../images/fogtrees.jpg);
	background-position: center center;
	background-size: cover;
	// background-attachment: fixed;
	color: black;
	text-align: center;
	margin: 100px auto 100px auto;
	.container {
		padding: 90px 0;
	}
	
}

//services 

#services {
	margin-bottom: 100px;
}

//gallery 

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 100px;
	img {
	    width: calc(33% - 10px);
	    min-width: 300px;
    	margin-top: 20px;
    	height: 300px;
    	object-fit: cover;
	}
}

//about owner

#about-owner {
	margin-bottom: 100px;
}



// contact form
.follow {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	i {
		font-size: 26px;
		vertical-align: middle;
		margin-right: 10px;
	}
	p {
		position: absolute;
		color: white;
		top: -30px;
		right: 0;
		background-color: $color-main-green;
		padding: 10px;
		border-radius: 30px;
	    box-shadow: 2px 2px 5px #555;

		a {
			text-decoration: none;
			color: white;
		}
	}
}

#contact {
	padding-top: 100px;
	padding-bottom: 100px;
	background: #ececec;
	h3 {
		margin-top: 0;
	}
}
.contact {
	p {
		font-family: "Montserrat", sans-serif;
	}
	form {
		margin-top: 40px;
	}
	.contact-left {
		margin-top: 40px;
		width: 100%;
		input {
			width: 100%;
			border: none;
			background: #ececec;
			border-bottom: 1px solid $color-main-green;
			border-left: 1px solid $color-main-green;
			margin-bottom: 40px;
			padding-left: 20px;
		}
		input::placeholder {
			color: gray;
			font-size: 14px;

		}
	}
	.contact-right {
		width: 100%;
		textarea {
			width: 100%;
			height: auto;
			border: none;
			background: #ececec;
			border-bottom: 1px solid $color-main-green;
			border-left: 1px solid $color-main-green;
			margin-bottom: 40px;
			padding-top: 10px;
			padding-left: 20px;
		}
		textarea::placeholder {
			color: gray;
			font-size: 14px;
			
		}
	}
	p {
		text-transform: uppercase;
		font-size: 11.5px;
		color: black;
		font-weight: 600;
	}
	.form_entry {
		height: 40px;
	    line-height: 22px;
	    letter-spacing: .5px;
	}

}
.submitButton{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
 	text-decoration: none;
    color: #FFF;
    padding: 10px 30px;
    background-color: $color-main-green;
    border-radius: 30px;
}
.submitButton:hover {
	background-color: #74E8B0;
}
.owner {
	text-align: center;
}

.insta-widget {
	margin: 80px;
	text-align: center;
}

//footer

.footer {
	height: 100px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: $color-main-green;
	background-color: black;
	a {
		text-decoration: none;
		color: $color-main-green;
	}

	.footer-left {
		margin-top: 40px;
		width: 80%;
		float: left;
	}
	.footer-right {
		margin-top: 40px;
		width: 20%;
		float: left;
		text-align: right;
	}
}

//Responsive

@media (max-width: 1050px) {
	.middle p span, .middle .new-toronto, .middle {
		font-size: 40px;
	}
	.middle .flex {
		flex-wrap: wrap;
		flex-direction: column;
		text-align: center;
	}
	.middle .logo-image {
		width: 50%;
    	margin: 0 auto;
    	height: unset;
	}
	.middle {
	    transform: translate(-50%, -50%);
	    top: 50%;
	    left: 50%;
	}
}

@media (max-width: 760px) {
	#about .about-section-1 img, #about .about-section-2 img {
		width: 100%;
	}
	#about .about-section-1, #about .about-section-2  {
		flex-direction: column;
		flex-wrap: wrap;
	}
	#about .about-section-1 .about-text, #about .about-section-2 .about-text {
		padding: 0;
	}
	.gallery {
		justify-content: center;
	}
	.middle .button-container {
		flex-wrap: wrap;
	}

	.middle .button-container div {
		margin-top: 20px;
		display: block;
		text-align: center;
	}
	.middle .button2 {
		margin-left: 0;
	}
	header .contact-button {
		display: none;
	}
	header .navbar {
		text-align: center;
	}
	header .main-nav {
		width: 100%;
	}


}

@media (max-width: 830px) {
	.middle .button-container {
		flex-wrap: wrap;
	}

	.middle .button-container div {
		margin-top: 20px;
		display: block;
		text-align: center;
	}
	.middle .button2 {
		margin-left: 0;
	}
}


@media (max-width: 540px) {
	.middle .button2 {
		margin-left: 0;
		margin-top: 10px;
	}
	header .lower-nav ul li {
		font-size: 10px;
	}
	header .navbar {
		top: 31px;
	}
}





